.sub-goals {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub-goal {
  min-height: 100px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.sub-goal:hover {
  background-color: rgb(133, 133, 133);
  box-shadow: rgba(233, 233, 233, 0.25) 0px 22px 22px, rgba(233, 233, 233, 0.12) 0px -12px 30px, rgba(233, 233, 233, 0.12) 0px 4px 6px, rgba(233, 233, 233, 0.17) 0px 12px 13px, rgba(233, 233, 233, 0.09) 0px -3px 5px;
}


.sub-goal-interactions {
  display: flex;
  gap: 10px;
}

.sub-goal-interaction {
  max-width: 30px;
  cursor: pointer;
}
