.goals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 10px;
}

.goal {
  padding: 20px;
  background-color: rgb(82, 82, 82);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goal:hover {
  background-color: rgb(233, 235, 255);
  box-shadow: rgba(233, 233, 233, 0.25) 0px 22px 22px, rgba(233, 233, 233, 0.12) 0px -12px 30px, rgba(233, 233, 233, 0.12) 0px 4px 6px, rgba(233, 233, 233, 0.17) 0px 12px 13px, rgba(233, 233, 233, 0.09) 0px -3px 5px;
}

.goal:hover * {
  color: rgb(19, 19, 19);
}


header {
  font-size: 30px;
  font-weight: bold;
}