.goal {
  padding: 10px;
  background-color: rgb(236, 236, 236);
  max-width: 300px;
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
}

.goal:hover {
  background-color: rgb(233, 235, 255);
}