.goals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 10px;
}

.goal {
  padding: 20px;
  background-color: rgb(236, 236, 236);
  transition: 0.2s ease-in-out background-color;
  cursor: pointer;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goal:hover {
  background-color: rgb(233, 235, 255);
}